/*
 * BACKGROUND UTIL - all mixin, map, variable, placeholder for styling css background
**/
/*
 * @desc: include background-color property in your css
 * @input: $color accepts string value ['cisco blue', 'lightest blue', 'indigo', 'red', 'green', 'orange', 'darkest gray', 'mid gray', 'light gray', 'lightest gray']
 * 			or any other color
 *		   $opacity accepts values from 0 to 1, default value is 1
 * @output: background with speficied color
 * @ex: { @include background-color('cisco blue', 1) } -> { background-color: rgba(0, 188, 235, 1); }
 */
/*
 * BORDER UTIL - all mixin, map, variable, placeholder for styling css border
 */
/*
 * @desc: include border property in your css
 * @input: $color accepts string value ['cisco blue', 'lightest blue', 'indigo', 'red', 'green', 'orange', 'darkest gray', 'mid gray', 'light gray', 'lightest gray']
 * 			or any other color
		    $edge accepts string value ['all', 'top', 'bottom', 'left', 'right', 'left right', 'right left', 'top bottom',
 *			'bottom top'], default value is 'all'
			$size accepts any size value, ex: 2px, 1em,  default value is 1px
			$style accepts string value ['dotted', 'none', 'hidden', 'dotted', 'solid', 'double', 'groove', 'ridge', 'inset', 'outset'], default value is 'solid'
 * @output: border property with specified color, edge, size and style
 * @ex: { @include border('cisco blue') } -> { border: 1px solid rgb(0, 188, 235); }
 */
html.coi .input-border {
  border-bottom: 1px solid get-color("light gray"); }

html.coi .menu-item-border {
  border-bottom: 1px solid get-color("lightest gray"); }
  html.coi .menu-item-border:last-of-type {
    border-bottom: 0; }

/*
 * BOX SHADOW UTIL - all mixin, map, variable, placeholder for styling css box shadow
**/
/*
 * @desc: COI, CiscoSans font declaration and styling
 */
@font-face {
  font-family: 'CiscoSans';
  font-style: normal;
  font-weight: 100;
  src: url("/static/fonts/CiscoSansTTExtraLight.woff2") format("woff2"), url("/static/fonts/CiscoSansTTExtraLight.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'CiscoSans';
  font-style: oblique;
  font-weight: 100;
  src: url("/static/fonts/CiscoSansTTExtraLightOblique.woff2") format("woff2"), url("/static/fonts/CiscoSansTTExtraLightOblique.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'CiscoSans';
  font-style: normal;
  font-weight: 300;
  src: url("/static/fonts/CiscoSansTTLight.woff2") format("woff2"), url("/static/fonts/CiscoSansTTLight.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'CiscoSans';
  font-style: oblique;
  font-weight: 300;
  src: url("/static/fonts/CiscoSansTTLightOblique.woff2") format("woff2"), url("/static/fonts/CiscoSansTTLightOblique.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'CiscoSans';
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/CiscoSansTTRegular.woff2") format("woff2"), url("/static/fonts/CiscoSansTTRegular.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'CiscoSans';
  font-style: bold;
  font-weight: 700;
  src: url("/static/fonts/CiscoSansTTBold.woff2") format("woff2"), url("/static/fonts/CiscoSansTTBold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/*
 * DEVICE UTIL - all mixin, map, variable, placeholder for responding css media query
**/
/*
 * FONT UTIL - all mixin, map, variable, placeholder for styling css font
**/
/*
 * @desc: return coi custom defined font-family
 */
/*
 * @desc: return font sise in rem (speficied font size divided by root font size)
 */
/*
 * @desc: return font size in percentage (speficied font size divided by root)
 */
/*
 * @desc: include rem font-size in your css
 */
/*
 * @desc: include percent font-size in your css
 */
/*
 * @desc: wrapper function for rem-font-size with predefined values: xs, sm, md, lg, xl
 * @output: include 'font-size: rem' in your css
 */
/*
 * @desc: include font-weight property in your css
 * @input: $weight accepts string value ['normal', 'bold', 'semibold', 'semilight', 'light']
 *		   $base accepts any integer value, default value is 100
 * @output: font with speficied weight;
 * @ex: { @include font-weight('bold') } -> { font-weight: 700; }
 */
/*
 * @desc: include primary (sans-serif) font-family in your css
 */
html.coi body, html.coi .primary-font, html.coi .sans-font {
  font-family: "CiscoSans", Roboto, Helvetica, Arial, sans-serif; }

/*
 * @desc: include secondary (monospace) font-family in your css
 */
html.coi code, html.coi .secondary-font, html.coi .mono-font {
  font-family: Monaco, Inconsolata, Consolas, "Courier New", Courier, "Lucida Console", monospace; }

/*
 * FUNCTION UTIL - all function that are used for styling value
**/
/*
 * @desc: use this function for margin, padding, width so that all elements stay within a common grid
 * @input:
 * @ex: get-preset-pixel('xs') -> 4px;
 *			get-preset-pixel(6) -> 12px;
 */
/*
 * @desc: return rgba color value for COI custom defined color
 * @ex: get-color('indigo') -> rgba(0, 116, 147, 1)
 */
/*
 * MARGIN UTIL - all mixin, map, variable, placeholder for styling css margin
**/
/*
 * @desc: include/parse margin property in your css
 * @input: $size accepts fixed value ['xs', 'sm', 'md', 'lg', 'xl'] or any positive integer
 *				 $edge accepts string value ['all', 'top', 'bottom', 'left', 'right', 'left right', 'right left', 'top bottom',
 *				 	 'bottom top'], default value is 'all'
 * @output: margin property with specified size
 * @ex: { @include margin('lg') } -> { margin: 24px; }
 */
/*
 * OFFSET UTIL - all placeholder, mixin, map, variable to offset default element setting
**/
/*
 * @desc: offset default margin, padding, line-height for all html elements
 * NOTE: by setting box-sizing to border-box, the margin, padding, border will be calculated as part of the element's width
 */
html.coi, html.coi body, html.coi a, html.coi div, html.coi p, html.coi ul, html.coi ol, html.coi li, html.coi span, html.coi h1, html.coi h2, html.coi h3, html.coi h4, html.coi h5, html.coi h6,
html.coi article, html.coi aside, html.coi blockquote, html.coi header, html.coi footer, html.coi main, html.coi section,
html.coi input, html.coi label, html.coi fieldset, html.coi textarea, html.coi select, html.coi option {
  margin: 0;
  padding: 0;
  line-height: 1.125em;
  box-sizing: border-box !important;
  /* see note above */ }

/*
 * FONT UTIL - all mixin, map, variable, placeholder for styling css padding
**/
/*
 * @desc: include/parse padding property in your css
 * @input: $size accepts fixed value ['xs', 'sm', 'md', 'lg', 'xl'] or any positive integer
 *				 $edge accepts string value ['all', 'top', 'bottom', 'left', 'right', 'left right', 'right left', 'top bottom',
 *				 	 'bottom top'], default value is 'all'
 * @output: padding property with specified size
 * @ex: { @include padding('lg') } -> { padding: 24px; }
 */
/*
 * @desc: include text-color property in your css
 * @input: $color accepts string value ['cisco blue', 'lightest blue', 'indigo', 'red', 'green', 'orange', 'darkest gray', 'mid gray', 'light gray', 'lightest gray']
 * 			or any other color
 *		   $opacity accepts values from 0 to 1, default value is 1
 * @output: text with speficied color;
 * @ex: { @include text-color('cisco blue') } -> { text-color: rgba(0, 188, 235, 1); }
 */
/**
  * @desc: sass-styling use sass-util js which is injected by webpack.config
  */
html.coi {
  /* Because of the html.coi namespace, we need to offset html and set font-size here instead of in baseline */
  font-size: 62.5%;
  /* COI Baseline
 * @desc: 1. DO NOT CREATE style for CSS CLASS/ID in this file
 *				2. offset browser default setting (margin, padding, line-height, box-sizing) for all html elements
 *				2. redefine elements general setting per COI design spec
 */
  /* Font size */
  /* Font weight */
  /* NO MARGIN */
  /* MARGIN XS */
  /* MARGIN SM */
  /* MARGIN MD */
  /* MARGIN LG */
  /* MARGIN XL */
  /* NO PADDING */
  /* PADDING XS */
  /* PADDING SM */
  /* PADDING MD */
  /* PADDING LG */
  /* PADDING XL */ }
  html.coi body {
    font-size: 16px;
    font-size: 1rem;
    color: #4d4c4c;
    background-color: white; }
  html.coi code {
    font-size: 12px;
    font-size: 0.75rem; }
  html.coi h1, html.coi h2, html.coi h3, html.coi h4, html.coi h5, html.coi h6 {
    font-weight: 300;
    padding: 8px;
    margin: 8px; }
  html.coi h1 {
    font-size: 32px;
    font-size: 2rem; }
  html.coi h2 {
    font-size: 26px;
    font-size: 1.625rem; }
  html.coi h3 {
    font-size: 20px;
    font-size: 1.25rem; }
  html.coi h4 {
    font-size: 16px;
    font-size: 1rem; }
  html.coi h5 {
    font-size: 12px;
    font-size: 0.75rem; }
  html.coi h6 {
    font-size: 10px;
    font-size: 0.625rem; }
  html.coi p {
    padding: 4px;
    margin: 4px; }
  html.coi a {
    text-decoration: none;
    color: #00bceb; }
    html.coi a:active, html.coi a:hover, html.coi a:visited {
      text-decoration: none; }
    html.coi a:active, html.coi a:hover {
      color: #007493; }
  html.coi .xs-font {
    font-size: 10px;
    font-size: 0.625rem; }
  html.coi .sm-font {
    font-size: 12px;
    font-size: 0.75rem; }
  html.coi .md-font, html.coi .primary-font-size {
    font-size: 16px;
    font-size: 1rem; }
  html.coi .lg-font {
    font-size: 20px;
    font-size: 1.25rem; }
  html.coi .xl-font {
    font-size: 26px;
    font-size: 1.625rem; }
  html.coi .bold {
    font-weight: 700; }
  html.coi .semibold {
    font-weight: 500; }
  html.coi .normal {
    font-weight: 400; }
  html.coi .semilight {
    font-weight: 300; }
  html.coi .light {
    font-weight: 100; }
  html.coi .display-none {
    display: none; }
  html.coi .display-block {
    display: block; }
  html.coi .display-inline {
    display: inline; }
  html.coi .display-inline-block {
    display: inline-block; }
  html.coi .visible {
    visibility: visible; }
  html.coi .hidden {
    visibility: hidden; }
  html.coi .no-margin {
    margin: 0; }
  html.coi .no-top-bottom-margin {
    margin-top: 0;
    margin-bottom: 0; }
  html.coi .no-left-right-margin {
    margin-left: 0;
    margin-right: 0; }
  html.coi .xs-left-right-margin {
    margin-left: 4px;
    margin-right: 4px; }
  html.coi .xs-top-bottom-margin {
    margin-top: 4px;
    margin-bottom: 4px; }
  html.coi .xs-margin {
    margin: 4px; }
  html.coi .sm-left-right-margin {
    margin-left: 8px;
    margin-right: 8px; }
  html.coi .sm-top-bottom-margin {
    margin-top: 8px;
    margin-bottom: 8px; }
  html.coi .sm-margin {
    margin: 8px; }
  html.coi .md-left-right-margin {
    margin-left: 16px;
    margin-right: 16px; }
  html.coi .md-top-bottom-margin {
    margin-top: 16px;
    margin-bottom: 16px; }
  html.coi .md-margin {
    margin: 16px; }
  html.coi .lg-left-right-margin {
    margin-left: 24px;
    margin-right: 24px; }
  html.coi .lg-top-bottom-margin {
    margin-top: 24px;
    margin-bottom: 24px; }
  html.coi .lg-margin {
    margin: 24px; }
  html.coi .xl-left-right-margin {
    margin-left: 32px;
    margin-right: 32px; }
  html.coi .xl-top-bottom-margin {
    margin-top: 32px;
    margin-bottom: 32px; }
  html.coi .xl-margin {
    margin: 32px; }
  html.coi .no-padding {
    padding: 0; }
  html.coi .no-top-bottom-padding {
    padding-top: 0;
    padding-bottom: 0; }
  html.coi .no-left-right-padding {
    padding-left: 0;
    padding-right: 0; }
  html.coi .xs-left-right-padding {
    padding-left: 4px;
    padding-right: 4px; }
  html.coi .xs-top-bottom-padding {
    padding-top: 4px;
    padding-bottom: 4px; }
  html.coi .xs-padding {
    padding: 4px; }
  html.coi .sm-left-right-padding {
    padding-left: 8px;
    padding-right: 8px; }
  html.coi .sm-top-bottom-padding {
    padding-top: 8px;
    padding-bottom: 8px; }
  html.coi .sm-padding {
    padding: 8px; }
  html.coi .md-left-right-padding {
    padding-left: 16px;
    padding-right: 16px; }
  html.coi .md-top-bottom-padding {
    padding-top: 16px;
    padding-bottom: 16px; }
  html.coi .md-padding {
    padding: 16px; }
  html.coi .lg-left-right-padding {
    padding-left: 24px;
    padding-right: 24px; }
  html.coi .lg-top-bottom-padding {
    padding-top: 24px;
    padding-bottom: 24px; }
  html.coi .lg-padding {
    padding: 24px; }
  html.coi .xl-left-right-padding {
    padding-left: 32px;
    padding-right: 32px; }
  html.coi .xl-top-bottom-padding {
    padding-top: 32px;
    padding-bottom: 32px; }
  html.coi .xl-padding {
    padding: 32px; }
  html.coi .pos-absolute {
    position: absolute; }
  html.coi .pos-fixed {
    position: fixed; }
  html.coi .pos-relative {
    position: relative; }
  html.coi .pos-static {
    position: static; }
  html.coi .pos-sticky {
    position: sticky; }
  html.coi .center-text {
    text-align: center; }
  html.coi .left-text {
    text-align: left; }
  html.coi .right-text {
    text-align: right; }
  html.coi .start-text {
    text-align: start; }
  html.coi .primary-background {
    background-color: white; }
  html.coi .secondary-background {
    background-color: #f2fbfd; }
  html.coi .float-right {
    float: right; }
  html.coi .float-left {
    float: left; }
  html.coi .float-none {
    float: none; }
  html.coi .clear-both {
    clear: both; }
  html.coi .cisco-blue-text {
    color: #00bceb; }
  html.coi .lightest-blue-text {
    color: #f2fbfd; }
  html.coi .indigo-text {
    color: #007493; }
  html.coi .red-text {
    color: #e2241a; }
  html.coi .green-text {
    color: #6cc04a; }
  html.coi .orange-text {
    color: #fbab18; }
  html.coi .primary-text, html.coi .darkest-gray-text {
    color: #4d4c4c; }
  html.coi .mid-gray-text {
    color: #a5a5a5; }
  html.coi .light-gray-text {
    color: #dfdfdf; }
  html.coi .lightest-gray-text {
    color: #f2f2f2; }
  html.coi .white-text {
    color: white; }
